@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer components {
  .navbar__link:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }

  .navbar__link:after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }

  .gallery__card:hover {
    scale: 1.01;
    transition: all 0.4s;
  }

  .gallery__card:hover .gallery__card__button {
    display: block;
  }
}